<div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="./assets/img/placement.png" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>placement99</h2>
            <h3>WOIR was formed by three friends in 2015 keeping in vision the innovative line of products. We have opened our center in Telecom Nagar @ Hyderabad.

                    WOIR Software India Pvt. Ltd. , a startup aiming for innovative line of products has focus on Big Data Analytics. We also take work related to the domain and execute them with assured quality and in time. 
                    
                    Also, we offer job oriented course designed by industry experts – and we are sure that those course will help in availing new opportunities to both experienced and freshers.</h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>

          </div>
        </div>

      </div>