<section  id="about" class="wow fadeInUp">
<div class="container">
    <div class="col-lg-12 content">
        <h2>Placement99</h2>
        <h3>WOIR was formed by three friends in 2015 keeping in vision the innovative line of products. We have opened our
          center in Hitec City  @ Hyderabad. WOIR Software India Pvt. Ltd. , a startup aiming for innovative line of
          products has focus on Big Data Analytics. We also take work related to the domain and execute them with assured
          quality and in time. Also, we offer job oriented course designed by industry experts – and we are sure that those
          course will help in availing new opportunities to both experienced and freshers.</h3>

      </div>

      </div>
      </section>