
  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:info@woir.in">info@woir.in</a>
        <i class="fa fa-phone"></i> +91-9555295300
      </div>
      <app-socialicons></app-socialicons>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="woir.png" class="pull-left">
        <h1><a href="aboutus" class="scrollto"><span></span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="http://woir.in/"><img src="./assets/img/placement1.png" alt="" height="70" width="400" title="" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">


          <li class="menu-active"><a href="#body">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <!--<li><a href="#services">Services</a></li>-->
         <!-- <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>-->
            
          <li><a href="#contact">Contact</a></li>
          <li><a href="#Login">Login</a> </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2> <span></span><br></h2>
  
        <!-- <input class="form-control" type="text" placeholder="SEARCH" aria-label="Search" style="width:500px" ><br> -->
         
 
         <nav class="navbar navbar-expand-lg navbar-dark blue lighten-2 mb-4">
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
                <form class="form-inline mr-auto">
                    <input class="form-control" type="text" placeholder="SEARCH" aria-label="Search" style="width:700px">
                    <button class="form-control" type="submit">Search</button>
                </form>
            </div>    
        </nav>
      
        <!--   <nav><tr><td><input class="form-control" type="text" placeholder="COUNTRY" aria-label="COUNTRY"></td>
            <td><input class="form-control" type="text" placeholder="STATE" aria-label="STATE"></td>
            <td><input class="form-control" type="text" placeholder="CITY" aria-label="CITY"></td>
          <td> <h3><button class="form-control" type="submit">Search</button></h3></td></tr></nav> -->

         <nav align="center" >
          <form class="form-inline mr-auto">
              <input class="form-control" type="text" placeholder="COUNTRY" aria-label="COUNTRY">
              <input class="form-control" type="text" placeholder="STATE" aria-label="STATE">
              <input class="form-control" type="text" placeholder="CITY" aria-label="CITY">
              <button class="form-control" type="submit">Search</button>
          </form>
          </nav>
    </div>
    
   
    
    
       
    
    

    <!--<div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('./assets/img/intro-carousel/1.jpg');"></div>
      <div class="item" style="background-image: url('./assets/img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('./assets/img/intro-carousel/3.jpg');"></div>
      <div class="item" style="background-image: url('./assets/img/intro-carousel/4.jpg');"></div>
      <div class="item" style="background-image: url('./assets/img/intro-carousel/5.jpg');"></div>
    </div>-->

  </section><!-- #intro -->
  