
  <!--==========================
    Top Bar
  ============================-->
  
  
    
  
  

  <!--==========================
    Header
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
  <header id="header" >

  <div class="container" >
        <a href="http://woir.in/"><img src="./assets/img/placement1.png" width="250"/></a>
        <app-socialicons></app-socialicons>
        <div id="woir.png" class="pull-left">
        <h1><a href="aboutus" class="scrollto"><span></span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        
   </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">


          <li class="menu-active"><a href="#body">Home</a></li>
          <li><a href="#about">About Us</a></li>
         <li><a href="#contact">Contact</a></li>
          <li><app-login></app-login></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
  </section>
  <!-- #header -->
  

  <!--==========================
    Intro Section
  ============================-->
  
    <div id="addQuestion" class="createTestContainer">
      <!--<h2> <span></span><br></h2>
  
         <input class="form-control" type="text" placeholder="SEARCH" aria-label="Search" style="width:500px" ><br> 
         <nav class="navbar navbar-expand-lg navbar-dark blue lighten-2 mb-4"  >
           Collapsible content
            
        </nav>
      </div> -->
        <!--   <nav><tr><td><input class="form-control" type="text" placeholder="COUNTRY" aria-label="COUNTRY"></td>
            <td><input class="form-control" type="text" placeholder="STATE" aria-label="STATE"></td>
            <td><input class="form-control" type="text" placeholder="CITY" aria-label="CITY"></td>
          <td> <h3><button class="form-control" type="submit">Search</button></h3></td></tr></nav> -->
  
       <div class="row">
        <label for="" class="dropdown_label"></label>
         <select>
          <option value="" style="display:none">COUNTRY</option>
          <!-- <option *ngFor="let a of try_.a">{{a}}</option> -->
          </select>

          <select name="state"  [(ngModel)]="model.state" (change)='getcity(model.state)'> 
          <option value="" style="display:none">STATE</option>
          <option *ngFor="let b of state" Value="">{{b}}</option>
         </select>

          <select>
          <option value="" style="display:none">CITY</option>
          <option *ngFor="let c of uniqueList.Delhi" value="">{{c}}</option>
          </select> 
            <button onclick="" type="submit" style="width:100px;height:22px" >submit</button>
              </div>
            
      
        
      
    <!--<div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('./assets/img/intro-carousel/1.jpg');"></div>
      <div class="item" style="background-image: url('./assets/img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('./assets/img/intro-carousel/3.jpg');"></div>
      <div class="item" style="background-image: url('./assets/img/intro-carousel/4.jpg');"></div>
      <div class="item" style="background-image: url('./assets/img/intro-carousel/5.jpg');"></div>
    </div>-->
</div>
  
  <div class="container">
  <div class="label_under">

      <h4>Advanced search</h4>
  </div>

    <div>

      <div class="col-md-3 advance">
        <div class="box">
          <h3 style="background-color:gray;color:white;">DEPARTMENT</h3>
          <div class="box-content" style="height:150px;overflow: scroll;">
            <div class="">
                <label>
                  <input type="checkbox">CSE<br>
                  <input type="checkbox">IT<br>
                  <input type="checkbox">ECE<br>
                </label>
                <br>
            </div>


          </div>
        </div>
      </div>

      <div class="col-md-3 advance">
        <div class="box">
          <h3 style="background-color:grey;color:white;">COMPANY</h3>
          <div class="box-content" style="height:150px;overflow: scroll;">
            <div class="">
                <label>
<input type="checkbox">GOOGLE<br>
<input type="checkbox">MICROSOFT<br>
<input type="checkbox">YAHOO
              </label>
                <br>
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-3 advance">
        <div class="box">
          <h3 style="background-color:gray;color:white;">YEAR</h3>
          <div class="box-content" style="height:150px;overflow: scroll;">
            <div class="">
                <label>
                  <input type="checkbox">2018<br> 
                  <input type="checkbox">2017<br>
                  <input type="checkbox">2016<br>
                </label>
                <br>
            </div>


          </div>
        </div>
</div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div>
        <div class="">
          <div class="col-lg-6 about-img">
            <img src="./assets/img/woir.png" alt="" height="300" width="400">
          </div>

          <div class="col-lg-6 content">
            <h2>Placement99</h2>
            <h3>WOIR was formed by three friends in 2015 keeping in vision the innovative line of products. We have opened our center in Telecom Nagar @ Hyderabad.

                    WOIR Software India Pvt. Ltd. , a startup aiming for innovative line of products has focus on Big Data Analytics. We also take work related to the domain and execute them with assured quality and in time. 
                    
                    Also, we offer job oriented course designed by industry experts – and we are sure that those course will help in availing new opportunities to both experienced and freshers.</h3>

           <!--<ul>
              <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>-->

          </div>
        </div>

      </div>

  
