<!--==========================
    Top Bar
  ============================-->






<!--==========================
    Header
  ============================-->
<section id="topbar" class="d-none d-lg-block">
  <header id="header">

    <div class="container">
      <a href="http://woir.in/">
        <img src="./assets/img/placement1.png" width="250" />
      </a>
      <app-socialicons></app-socialicons>
      <div id="woir.png" class="pull-left">
        <h1>
          <a href="aboutus" class="scrollto">
            <span></span>
          </a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->

      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">


          <li class="menu-active">
            <a href="#body">Home</a>
          </li>
          <li>
            <a href="#about">About Us</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
          <li>
            <app-login></app-login>
          </li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
</section>
<!-- #header -->


