
    <div id="circle" style="background-color:rgb(2, 85, 81);">
        <h6 align = "center" style = "line-height: 1.7; height:30px; color:white; font-size: 1.75rem;"> Total Number of Colleges: {{total_college}}</h6>
     </div>
     <div id="circle" style="background-color:rgb(2, 150, 106);">
        <h6 align = "center" style = "line-height: 1.7; height:30px; color:white; font-size: 1.75rem;"> Total Number of State: {{total_state}}</h6>
     </div>
     <div id="circle" style="background-color:rgb(1, 140, 133);">
        <h2 align = "center" style = "line-height: 1.7; height:30px; color:white; font-size: 1.75rem;"> Total Number of City: {{total_city}}</h2>
     </div>
     <section id="about" class="wow fadeInUp">

  <div class="col-md-12">
    <div class="form">
      <form method="post" role="form" class="contactForm">
        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control" (change)="elasticPost(clgname.value,country.value,model.state,model.city)" name="clgname" #clgname style="height: 50px;font-size: 18px;" placeholder="Search by college name">
          </div>
        </div>
        <div class="form-row">

          <div class="form-group col-md-4">

            <select class="form-control" name="country" #country style="height: 50px;font-size: 18px;">
              <option value="" style="display:none">COUNTRY</option>
              <option value="India" selected>India</option>
            </select>
          </div>
          <div class="form-group col-md-4">

            <select class="form-control" name="state" [(ngModel)]="model.state" (change)='getcity(model.state)' style="height: 50px;font-size: 18px;">
              <option [ngValue]="" style="display:none">STATE</option>
              <option *ngFor="let b of uniqueList1" [ngValue]="b">{{b}}</option>
            </select>
          </div>

          <div class="form-group col-md-4">

            <select class="form-control"  name="city" [(ngModel)]="model.city" (change)="elasticPost(clgname.value,country.value,model.state,model.city)"
              style="height: 50px;font-size: 18px;">
              <option value="" style="display:none">CITY</option>
              <option *ngFor="let c of city"  [ngValue]="c">{{c}}</option>
            </select>
          </div>
          <!-- <div class="form-group col-md-3 text-center">

            <button class="button" (click)="elasticPost(clgname.value,country.value,model.state,model.city)" type="submit">Submit</button>

          </div> -->
        </div>
      </form>
    </div>
  </div>
</section>
<section>
  <div class="col-md-12">
    <div class="col-md-2">
      <app-ads></app-ads>
      <!-- <div>
        <div align="center" class="label_under" style="border:2px solid #dddddd;background-color:#50d8af;color:white;">

          <h4>Advanced search</h4>
        </div>


        <div class="advance" style="border:2px solid #dddddd;">
          <h3 style="background-color:gray;color:white;">DEPARTMENT</h3>
          <div class="box-content" style="height:150px;overflow: scroll;">
            <div class="">
              <label>
                <input type="checkbox" class="span12" id="brand_{{i+1}}" (change)="changeModel($event,modelArr,b)" style="height:20px;width:15px;"
                  [checked]="modelArr.includes(b)" name="" value={{b}}>{{b}}</label>

              <br>
            </div>


          </div>
        </div>

        <div class="advance" style="border:2px solid #dddddd;">
          <div class="box">
            <h3 style="background-color:grey;color:white;">COMPANY</h3>
            <div class="box-content" style="height:150px;overflow: scroll;">
              <div class="">
                <label>
                  <input type="checkbox">GOOGLE
                  <br>
                  <input type="checkbox">MICROSOFT
                  <br>
                  <input type="checkbox">YAHOO
                </label>
                <br>
              </div>


            </div>
          </div>
        </div>
        <div class="advance" style="border:2px solid #dddddd;">
          <div class="box">
            <h3 style="background-color:gray;color:white;">YEAR</h3>
            <div class="box-content" style="height:150px;overflow: scroll;">
              <div class="">
                <label>
                  <input type="checkbox">2018
                  <br>
                  <input type="checkbox">2017
                  <br>
                  <input type="checkbox">2016
                  <br>
                </label>
                <br>
              </div>


            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="col-md-7">

      <section>

          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

          <div *ngIf="resultsFound; then showResultsFound else  showNotFound"></div>
          <ng-template #showNotFound></ng-template>
          <ng-template #showResultsFound>


            <table class="table table-striped" align="center" style="font-size: 13px;">
              <caption>List of Colleges</caption>
              <thead>
                <tr>
                  <th scope="col">Sr.No</th>
                  <th scope="col">Name of the College</th>
                  <th scope="col">Batch 2k17</th>
                  <th scope="col">Batch 2k16</th>
                  <th scope="col">Batch 2k15</th>
                  <th scope="col">Batch 2k14</th>
                  <th scope="col">Batch 2k13</th>
                  <th scope="col">Batch 2k12</th>
                </tr>
              </thead>
    
              <tbody  *ngFor="let r of DispResList ; let i = index">
                <tr  data-toggle="modal" data-target="#r.college" >
                    <td>{{i + 1}}</td>
                    <td class="pointadv" (click)="LinktoCollege(r.college,country.value,model.state,model.city)" >{{r.college}}</td>  
                    <td>{{r.c2k17}}</td>  
                    <td>{{r.c2k16}}</td>  
                    <td>{{r.c2k15}}</td>  
                    <td>{{r.c2k14}}</td>  
                    <td>{{r.c2k13}}</td>  
                    <td>{{r.c2k12}}</td>  
                </tr>
                <div class="modal fade" id="r.college" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content" style="width:650px">
                      <div class="modal-header">
                        <h3 class="modal-title" style="color:#50dbd2"><b>{{r.college}}</b></h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                      </div>
                      <div class="modal-body">
                              <table class="table table-striped" align="center" style="font-size: 13px;">
                               <caption>List of Colleges</caption>
                               <thead>
                                 <tr>
                                   <th scope="col">Sr.No</th>
                                   <!-- <th scope="col">Name of the College</th> -->
                                   <th scope="col">Batch</th>
                                   <th scope="col">Branch</th>
                                   <th scope="col">Company</th>
                                   <th scope="col">No. of grads placed</th>
                       
                                 </tr>
                               </thead>
                       
                               <tbody>
                                 <tr *ngFor="let result of moreinfo |  paginate: { itemsPerPage:5, currentPage: p }; let i = index">
                                     <td>{{i + 1}}</td>
                                     <!-- <td>{{result.college}}</td>   -->
                                     <td>{{result.batch}}</td>  
                                     <td>{{result.branch}}</td>  
                                     <td>{{result.company}}</td>  
                                     <td>{{result.count}}</td>  
                                 </tr>
                               </tbody>
                            </table>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
              <!-- <tr>
                <td  colspan="8">
           <div id="demo" class="collapse">
           <table class="table table-striped" align="center" style="font-size: 13px;">
            <caption>List of Colleges</caption>
            <thead>
              <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Name of the College</th>
                <th scope="col">Batch</th>
                <th scope="col">Branch</th>
                <th scope="col">Company</th>
                <th scope="col">No. of grads placed</th>
    
              </tr>
            </thead>
    
            <tbody>
              <tr *ngFor="let result of moreinfo |  paginate: { itemsPerPage:5, currentPage: p }; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{result.college}}</td>  
                  <td>{{result.batch}}</td>  
                  <td>{{result.branch}}</td>  
                  <td>{{result.company}}</td>  
                  <td>{{result.count}}</td>  
              </tr>
            </tbody>
         </table>
         </div>
         </td>
         </tr> -->
        </tbody>
      </table>
    </ng-template>
           <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
    <!-- <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul> -->
           
            <br>
            <div class="col-lg-12 content">
              <h2>Placement99</h2>
              <h3>WOIR was formed by three friends in 2015 keeping in vision the innovative line of products. We have opened our
                center in Telecom Nagar @ Hyderabad. WOIR Software India Pvt. Ltd. , a startup aiming for innovative line of
                products has focus on Big Data Analytics. We also take work related to the domain and execute them with assured
                quality and in time. Also, we offer job oriented course designed by industry experts – and we are sure that those
                course will help in availing new opportunities to both experienced and freshers.</h3>
    
              <!--<ul>
                    <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                  </ul>-->
    
            </div>
            <ng-adsense> </ng-adsense>

          </section>
        </div>
        <div class="col-md-3"></div>
    
      </div>
    </section>
    