<!--<input #country name="country" placeholder="Country Name"><button (click)="doPost(country.value)">POST Search</button>
<button (click)="doGet()">GET</button>
<button (click)="doExp()">Exp</button>
<button (click)="doTest()">Test</button>
<div *ngFor="let student of students">
<h4>{{student.Country}}</h4>
</div>
<div *ngFor="let result of results">
<h4>{{result.Country}}</h4>
</div>

  <table  class="table table-bordered" align="center">
      <caption>List of Colleges</caption>
    <thead>
      <tr>
        <th scope="col">Sr.No</th>
        <th scope="col">Country</th>
        <th scope="col">State</th>
        <th scope="col">District</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <th scope="row">1</th>
        <td>{{result.Country}}</td>
        <td>{{result.State}}</td>
        <td>{{result.District}}</td>
      </tr>
      
    </tbody>
  </table>-->
  <br><br>
  <input #state name="state" placeholder="state"><br>
  <input #city name="city" placeholder="city">
  <button (click)="elasticPost(state.value,city.value)">Elastic Search</button>

  <table  class="table table-bordered" align="center">
    <caption>List of Colleges</caption>
  <thead>
    <tr>
      <th scope="col">Sr.No</th>
      <th scope="col">Country</th>
      <th scope="col">State</th>
      <th scope="col">District</th>
    </tr>
  </thead>

    <tbody>
      <tr *ngFor="let result of elasticresults.hits.hits; let i = index">
        <td>{{i + 1}}</td>
        <td>{{result._source.Country}}</td>
        <td>{{result._source.State}}</td>
        <td>{{result._source.District}}</td>
      </tr>
      
    </tbody>

</table>
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>
